{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        poly/event-store-postgres {:local/root "../../components/event-store-postgres"}
        pges/event-store {:local/root "../../components/event-store"}
        pges/pubsub {:local/root "../../components/pubsub"}
        pges/anomalies {:local/root "../../components/anomalies"}
        pges/schema-util {:local/root "../../components/schema-util"}
        pges/time {:local/root "../../components/time"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}