{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        poly/event-store-postgres {:local/root "../../components/event-store-postgres"}
        poly/event-store {:local/root "../../components/event-store"}
        poly/pubsub {:local/root "../../components/pubsub"}
        poly/anomalies {:local/root "../../components/anomalies"}
        poly/schema-util {:local/root "../../components/schema-util"}
        poly/time {:local/root "../../components/time"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}