{:paths ["src" "resources"]
 :deps {integrant/integrant {:mvn/version "0.13.1"}
        com.brunobonacci/mulog {:mvn/version "0.9.0"}
        com.cognitect/anomalies {:mvn/version "0.1.12"}
        metosin/malli {:mvn/version "0.17.0"}
        org.clojure/core.async {:mvn/version "1.7.701"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
